<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>사원 정보</h3>
<table border="1">
	<tr>
		<th>사번</th><th>이름</th><th>성별</th><th>입사일</th>
	</tr>
	<th:block th:if="${list.size>0}">
		<tr th:each="data:${list}">
			<td th:text="${data.jikwonno}">사번</td>
			<td th:text="${data.jikwonname}">이름</td>
			<td th:text="${data.jikwongen}">성별</td>
			<td th:text="${data.jikwonibsail}">입사일</td>
		</tr>
	</th:block>
</table>
</body>
</html>